In [1]:
from scipy import stats
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import math
import warnings
warnings.filterwarnings("ignore")
import os
os.getcwd()

'C:\\Users\\arunb'

In [6]:
cars_train=pd.read_csv(r"C:\Users\arunb\Downloads\cars_train.csv",header=None)
cars_test=pd.read_csv(r"C:\Users\arunb\Downloads\cars_test.csv",header=None)

In [7]:
cars_train

          0      1      2     3      4     5      6
0     vhigh   high      3  more  small   low  unacc
1       low  vhigh      3     4  small   med  unacc
2       low   high  5more  more    big   low  unacc
3      high    med      4     2  small   med  unacc
4       low    low      3  more    big   med   good
...     ...    ...    ...   ...    ...   ...    ...
1377    low  vhigh  5more     4    big   med    acc
1378    low  vhigh      3  more    med   low  unacc
1379   high  vhigh  5more     4    med  high  unacc
1380    med    med      4     4    big   low  unacc
1381    med    low  5more  more  small  high   good

[1382 rows x 7 columns]

In [8]:
cars_test

         0      1      2     3      4     5      6
0      med  vhigh  5more     4  small   low  unacc
1    vhigh   high      2     2    big   med  unacc
2      low   high      2  more  small   low  unacc
3    vhigh  vhigh      3     2    big  high  unacc
4      low    med      4     4    med   med   good
..     ...    ...    ...   ...    ...   ...    ...
341   high    low      3     4  small  high    acc
342  vhigh   high      3     4  small  high  unacc
343    med    low      3     2  small  high  unacc
344  vhigh    med      2  more  small   low  unacc
345  vhigh   high      3     4  small   med  unacc

[346 rows x 7 columns]

In [9]:
cars_test.head()

       0      1      2     3      4     5      6
0    med  vhigh  5more     4  small   low  unacc
1  vhigh   high      2     2    big   med  unacc
2    low   high      2  more  small   low  unacc
3  vhigh  vhigh      3     2    big  high  unacc
4    low    med      4     4    med   med   good

In [10]:
cars_train.columns=['buying','maint','doors','persons','lug_boot','saftey','classes']
cars_test.columns=['buying','maint','doors','persons','lug_boot','saftey','classes']

In [11]:
cars_train['classes'].value_counts()

classes
unacc    959
acc      320
good      56
vgood     47
Name: count, dtype: int64

In [12]:
cars_train.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
saftey      object
classes     object
dtype: object

In [13]:
for i in cars_train.columns:
    print("\n**",i,":",cars_train[i].unique())

** buying : ['vhigh' 'low' 'high' 'med']

** maint : ['high' 'vhigh' 'med' 'low']

** doors : ['3' '5more' '4' '2']

** persons : ['more' '4' '2']

** lug_boot : ['small' 'big' 'med']

** saftey : ['low' 'med' 'high']

** classes : ['unacc' 'good' 'vgood' 'acc']

### check for null values

In [15]:
cars_train.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
saftey      0
classes     0
dtype: int64

In [ ]:
###

In [14]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

for i in cars_train.columns:
    le.fit_transform(cars_train[i])
    print(i)

buying
maint
doors
persons
lug_boot
saftey
classes

In [15]:
cars_train

     buying  maint  doors persons lug_boot saftey classes
0     vhigh   high      3    more    small    low   unacc
1       low  vhigh      3       4    small    med   unacc
2       low   high  5more    more      big    low   unacc
3      high    med      4       2    small    med   unacc
4       low    low      3    more      big    med    good
...     ...    ...    ...     ...      ...    ...     ...
1377    low  vhigh  5more       4      big    med     acc
1378    low  vhigh      3    more      med    low   unacc
1379   high  vhigh  5more       4      med   high   unacc
1380    med    med      4       4      big    low   unacc
1381    med    low  5more    more    small   high    good

[1382 rows x 7 columns]

In [22]:
cars_train.describe()

       buying  maint  doors persons lug_boot saftey classes
count    1382   1382   1382    1382     1382   1382    1382
unique      4      4      4       3        3      3       4
top      high  vhigh  5more    more      big   high   unacc
freq      349    352    349     466      467    463     959

In [ ]:
#Data splitting in DEpendent and independent variable

X=cars_train.iloc[:,:-1]
Y=cars_train.iloc[:,-1]
print(Y.dtype)
Y=Y.astype(int)
print(Y.dtype)

In [24]:
X.shape

(1382, 6)

In [25]:
Y.shape

(1382,)

### Train Test splitting cars_train data

In [ ]:
from skslearn.model_selection import train _test_split
X_train,X_test,Y_train,Y_test

### Model Building

In [27]:
from sklearn.tree import DecisionTreeClassifier

dct_classifier=DecisionTreeClassifier()
#Fitting the model
dct_classifier.fit(X_train,Y_train)

NameError: name 'X_train' is not defined

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

scaler.fit(X)
X=scaler.transform(X)

In [18]:
print(list(model_DecisionTree.feature_importances_))

NameError: name 'model_DecisionTree' is not defined